{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    django.jQuery(document).ready(function() {
        django.jQuery('#add-tag').click(function(e) {
            e.preventDefault();
            var tagName = prompt('Enter new tag name:');
            if (tagName) {
                // AJAX call to create new tag
                django.jQuery.post('/admin/blog/tag/add/', {
                    'name': tagName,
                    'csrfmiddlewaretoken': django.jQuery('[name="csrfmiddlewaretoken"]').val()
                }, function(data) {
                    // Refresh tag list
                    location.reload();
                });
            }
        });
    });
</script>
{% endblock %}

{% block field_sets %}
{{ block.super }}
<div class="submit-row">
    <input type="button" value="Add New Tag" id="add-tag" />
</div>
{% endblock %} 